html, body {
  height: 100%;
  margin: 0;
}
.ctext{
  color: #fff;
}
.navcolorback{
  background-color: #1A1919;
}
.yellowcol{
  background-color: #FDCE65;
}
.fondclaro{
  background-color: #EBD3A7;
}
.rosado{
  background-color: #DF2C6B;
}
.morado{
  background-color: #3F1432;
  color: #fff;
}
.morado:hover {
  background-color: #3F1432;
  color: #fff;
  text-decoration: none;
}
.violeta{
  background-color: #160D24;
}
.title{
  color: #160D24;
}
.subtitles{
  color: #F7B733;
}
.rostext{
  color: #DF2C6B;
}
button.btn.coll {
  background-color: #DF2C6B;
  border-color: #DF2C6B;
}
button.btn.coll:hover {
  background-color: #F7B733;
  border-color: #F7B733;
}
button.btn.coll:focus,
button.btn.coll.focus {
  box-shadow: none;
  background-color: #F7B733;
  border-color: #F7B733;
}
p {
  text-align: justify;
}
.hitbox{
  width: 17rem;
}
.combox{
  width: 17rem;
}
.test{
  height: 540px;
}
